Repository helperdiscord/petitio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest

chore: release 1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  b2cfed36bc1dbe9cd2174cd46cf32ae49d1bf048
Due: none

Notes added by 'git notes add'
  354e76b7cfda3726cea193e56e1b39b470f9b263
Due: none

ci: fix document and release [ci_release]
  .github/workflows/cd-document.yml
  .github/workflows/cd-release.yml
Due: none

chore: release 1.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Update PetitioRequest.ts
  src/lib/PetitioRequest.ts
Due: eslint --fix

Update petitiorequest.md
  docs/docs/pkg/modules/petitiorequest.md
Due: none

feat(ci): build on every commit
  .github/workflows/cd-release.yml
  .github/workflows/ci-build.yml
Due: none

build: v1.2.1
  dist/index.js
  package-lock.json
  package/CHANGELOG.md
  package/LICENSE
  package/README.md
  package/dist/index.d.ts
  package/dist/index.js
  package/dist/index.mjs
  package/dist/lib/PetitioRequest.d.ts
  package/dist/lib/PetitioResponse.d.ts
  package/package.json
Due: eslint --fix

fix(ci): make filepaths correct
  .github/workflows/ci-build.yml
Due: none

build: v1.2.1
  CHANGELOG.md
  LICENSE
  README.md
  dist/index.d.ts
  dist/index.js
  dist/index.mjs
  dist/lib/PetitioRequest.d.ts
  dist/lib/PetitioResponse.d.ts
  package.json
Due: eslint --fix

Update src/lib/PetitioRequest.ts
  src/lib/PetitioRequest.ts
Due: eslint --fix

Update docs
  docs/docs/pkg/modules/petitiorequest.md
Due: none

feat: add all http methods (#17)
  docs/docs/pkg/modules/petitiorequest.md
  src/lib/PetitioRequest.ts
Due: eslint --fix

build: v1.2.1
  dist/index.js
  dist/lib/PetitioRequest.d.ts
Due: eslint --fix

fix: remove ?? in favor of ternary
  src/lib/PetitioRequest.ts
Due: eslint --fix

chore: use esbuild build options
  esbuild.config.js
  src/lib/PetitioRequest.ts
Due: eslint --fix

fix: change build target for backwards compat (#25)
  esbuild.config.js
Due: none

build: v1.2.1
  dist/index.js
Due: none

ci: add ignore
  package-lock.json
  src/lib/PetitioRequest.ts
Due: eslint --fix

perf: faster buffer handling
  src/lib/PetitioRequest.ts
  src/lib/PetitioResponse.ts
  tests/PetitioRequest.test.ts
  tests/PetitioResponse.test.ts
Due: eslint --fix, jest

feat: use buffer length when available
  src/lib/PetitioResponse.ts
Due: eslint --fix

perf: improve response buffer handling (#20)
  package-lock.json
  src/lib/PetitioRequest.ts
  src/lib/PetitioResponse.ts
  tests/PetitioRequest.test.ts
  tests/PetitioResponse.test.ts
Due: eslint --fix, jest

build: v1.2.1
  dist/index.js
  dist/lib/PetitioResponse.d.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  jest: any of: tests/**/*.ts
