Repository helperdiscord/petitio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest

.lintstagedrc.json:

{
	"*.ts": "eslint --fix",
	"tests/**/*.ts": "jest"
}

feat: add docs and adjust types [ci_release]
  .eslintrc.json
  package-lock.json
  package.json
  src/index.ts
  src/lib/PetitioRequest.ts
  src/lib/PetitioResponse.ts
Due: eslint --fix

ci: update release fetch-depth
  .github/workflows/cd-release.yml
Due: none

Notes added by 'git notes add'
  46b2a650233dc4b4f6a76072d3de13ff9956519e
Due: none

chore: update package version [ci_release]
  package.json
Due: none

Notes added by 'git notes add'
  70b04b77988639c6dabe072ce5da35251b34d4fa
Due: none

ci: update release user [ci_release]
  .github/workflows/cd-release.yml
Due: none

chore: release 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  416e2a3c7fe41f20eb711166a3ded9a1acf7a3d0
Due: none

build: v2.0.0
  LICENSE
  README.md
  dist/index.d.ts
  dist/index.js
  dist/index.mjs
  dist/lib/PetitioRequest.d.ts
  dist/lib/PetitioResponse.d.ts
  package-lock.json
  package.json
Due: eslint --fix

chore: cleanup changelog
  CHANGELOG.md
Due: none

chore: update package version
  package.json
Due: none

feat: add support for stream
  src/lib/PetitioRequest.ts
  tests/PetitioRequest.test.ts
Due: eslint --fix, jest

chore: cleanup imports
  src/lib/PetitioRequest.ts
Due: eslint --fix

docs: improve documentation for streaming
  src/lib/PetitioRequest.ts
Due: eslint --fix

ci(cd-release): add docs build
  .github/workflows/cd-release.yml
Due: none

feat: add text encoding option & tests
  .eslintrc.json
  src/lib/PetitioResponse.ts
  tests/PetitioResponse.test.ts
Due: eslint --fix, jest

Update src/lib/PetitioResponse.ts
  src/lib/PetitioResponse.ts
Due: eslint --fix

chore: revert changes to eslintrc
  .eslintrc.json
Due: none

fix(PetitioResponse): fixed that non-alphabetic letters was being broken
  src/lib/PetitioResponse.ts
  tests/checkKorean.test.ts
Due: eslint --fix, jest

fix: delete korean test file
  tests/checkKorean.test.ts
Due: eslint --fix, jest

fix: add encoding option as PetitioResponse#text
  src/lib/PetitioResponse.ts
Due: eslint --fix

chore: change wording to “formatting”
  src/lib/PetitioResponse.ts
Due: eslint --fix

style: fix indentation in pr
  src/lib/PetitioResponse.ts
Due: eslint --fix

docs(PetitioResponse): make json documentation consistent
  src/lib/PetitioResponse.ts
Due: eslint --fix

fix(PetitioResponse): support non-ascii json responses (#11)
  src/lib/PetitioResponse.ts
Due: eslint --fix

chore: remove docs from gitignore
  .gitignore
Due: none

chore(perf): remove spread operators in favor of Object.assign
  src/lib/PetitioRequest.ts
Due: eslint --fix

chore(perf): remove forEach in favor of for of loop
  src/lib/PetitioRequest.ts
Due: eslint --fix

chore: cleanup
  src/lib/PetitioRequest.ts
Due: eslint --fix

chore: update to latest lint config
  package-lock.json
  package.json
Due: none

style: apply lint
  src/lib/PetitioRequest.ts
  tests/PetitioRequest.test.ts
Due: eslint --fix, jest
