Repository helperdiscord/petitio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest

.lintstagedrc.json:

{
	"*.ts": "eslint --fix",
	"tests/**/*.ts": "jest"
}

build: v1.3.0
  dist/index.js
  package.json
Due: none

chore: update benchmarks
  .benchmarks/output.txt
Due: none

fix: support node 16 [ci_release] (#28)
  .benchmarks/output.txt
  .github/workflows/ci-lint-test.yml
  package-lock.json
  package.json
Due: none

chore: release 1.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  3b104aa7d19b191d6cd4cd9705a5ced7c01dc999
Due: none

build: v1.3.1
  CHANGELOG.md
  package.json
Due: none

test: refactor for local http
  .eslintrc.json
  jest.config.ts
  package.json
  tests/PetitioRequest.test.ts
  tests/PetitioResponse.test.ts
  tests/global-setup.ts
  tests/global-teardown.ts
Due: eslint --fix, jest

test: use local tests (#30)
  .benchmarks/output.txt
  .eslintrc.json
  jest.config.ts
  package.json
  tests/PetitioRequest.test.ts
  tests/PetitioResponse.test.ts
  tests/global-setup.ts
  tests/global-teardown.ts
Due: eslint --fix, jest

docs: improve timeout doc
  src/lib/PetitioRequest.ts
Due: eslint --fix

docs: improve send throw docs (#29)
  src/lib/PetitioRequest.ts
Due: eslint --fix

chore: update deps
  package-lock.json
  package.json
Due: none

chore(deps): further updates
  package-lock.json
Due: none

chore: update deps (#31)
  .benchmarks/output.txt
  package-lock.json
  package.json
Due: none

docs: move usage
  docs/docs/guides/basic-examples.md
  docs/docs/guides/getting-started.md
Due: none

docs: update and add sidebar item
  docs/docs/pkg/classes/petitiorequest.petitiorequest-1.md
  docs/docs/pkg/classes/petitioresponse.petitioresponse-1.md
  docs/docs/pkg/interfaces/petitiorequest.timeoutoptions.md
  docs/docs/pkg/modules/petitio.md
  docs/docs/pkg/modules/petitiorequest.md
  docs/sidebars.js
Due: none

docs: update usage (#26)
  docs/docs/guides/basic-examples.md
  docs/docs/guides/getting-started.md
  docs/docs/pkg/classes/petitiorequest.petitiorequest-1.md
  docs/docs/pkg/classes/petitioresponse.petitioresponse-1.md
  docs/docs/pkg/interfaces/petitiorequest.timeoutoptions.md
  docs/docs/pkg/modules/petitio.md
  docs/docs/pkg/modules/petitiorequest.md
  docs/sidebars.js
Due: none

ci(benchmark): only benchmark on pull request
  .github/workflows/ci-benchmark.yml
Due: none

build: v1.3.1
  dist/index.js
  dist/lib/PetitioRequest.d.ts
  package.json
Due: eslint --fix

build: v1.3.1
  package.json
Due: none

fix: master -> main [ci_release]
  .github/workflows/cd-document.yml
  .github/workflows/cd-release.yml
  .github/workflows/ci-build.yml
  package-lock.json
  package.json
  release.config.js
Due: none
