Repository helperdiscord/petitio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest

.lintstagedrc.json:

{
	"*.ts": "eslint --fix",
	"tests/**/*.ts": "jest"
}

perf: optimize loops
  src/lib/PetitioRequest.ts
Due: eslint --fix

perf: optimize loops (#24)
  src/lib/PetitioRequest.ts
Due: eslint --fix

build: v1.2.1
  dist/index.js
Due: none

feat: support abort-controllers
  package-lock.json
  package.json
  src/lib/PetitioRequest.ts
  tests/PetitioRequest.test.ts
Due: eslint --fix, jest

docs: document abort controllers
  src/lib/PetitioRequest.ts
Due: eslint --fix

build: v1.2.1
  dist/index.js
  dist/lib/PetitioRequest.d.ts
  package.json
Due: eslint --fix

feat: abort-controllers (#23)
  package-lock.json
  package.json
  src/lib/PetitioRequest.ts
  tests/PetitioRequest.test.ts
Due: eslint --fix, jest

chore: update lockfile
  package-lock.json
Due: none

ci: add benchmark
  .benchmarks/output.txt
  .github/workflows/ci-benchmark.yml
  benchmarks/client.mjs
  benchmarks/index.mjs
  benchmarks/large.txt
  benchmarks/server.mjs
  benchmarks/server1.mjs
  benchmarks/server2.mjs
  package-lock.json
  package.json
Due: none

chore: update dependencies
  package-lock.json
  package.json
Due: none

build: make _http_common external
  esbuild.config.js
Due: none

ci: refactor benchmarks
  .benchmarks/output.txt
  .github/workflows/ci-benchmark.yml
  .github/workflows/ci-build.yml
  .github/workflows/ci-lint-test.yml
  benchmarks/client.mjs
  benchmarks/index.mjs
  benchmarks/server.mjs
  benchmarks/server1.mjs
  benchmarks/server2.mjs
  package-lock.json
  package.json
Due: none

chore: update benchmarks
  .benchmarks/output.txt
Due: none

fix: make http not https
  benchmarks/client.mjs
Due: none

ci: add benchmarking (#21) [ci_release]
  .benchmarks/output.txt
  .github/workflows/ci-benchmark.yml
  .github/workflows/ci-build.yml
  .github/workflows/ci-lint-test.yml
  benchmarks/client.mjs
  benchmarks/index.mjs
  benchmarks/large.txt
  benchmarks/server.mjs
  esbuild.config.js
  package-lock.json
  package.json
Due: none

build: v1.2.1
  dist/index.js
  package.json
Due: none

chore: release 1.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  d2c4d296aff25e14cbb32b207213763007140529
Due: none

build: v1.3.0
  CHANGELOG.md
  package.json
Due: none

docs(usage): type -> interface
  USAGE.md
Due: none

fix: update undici for node 16 fix
  package-lock.json
  package.json
Due: none

chore: add node 16 to ci
  .github/workflows/ci-lint-test.yml
Due: none

Update .github/workflows/ci-lint-test.yml
  .github/workflows/ci-lint-test.yml
Due: none

fix: support node 16 (#28)
  .benchmarks/output.txt
  .github/workflows/ci-lint-test.yml
  package-lock.json
  package.json
Due: none
