Repository helperdiscord/petitio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest

.lintstagedrc.json:

{
	"*.ts": "eslint --fix",
	"tests/**/*.ts": "jest"
}

Notes added by 'git notes add'
  08cdfb555a300327c548b9c202cd08eb1128a5ce
Due: none

build: v1.3.2
  CHANGELOG.md
  package.json
Due: none

chore: release 1.3.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: export HTTPMethod
  src/index.ts
Due: eslint --fix

chore: raise min node ver. to 14.0.0 LTS & update deps
  docs/package-lock.json
  docs/package.json
  esbuild.config.js
  package-lock.json
  package.json
Due: none

build: bundle type declarations
  package.json
Due: none

ci: use threadpool and uws in benchmark and testing
  benchmarks/client.mjs
  benchmarks/server.mjs
  jest.config.ts
  tests/PetitioRequest.test.ts
  tests/PetitioResponse.test.ts
  tests/global-setup.ts
  tests/global-teardown.ts
  tests/setup.ts
  tsconfig.eslint.json
Due: eslint --fix, jest

chore: update eslint rules
  .eslintrc.json
Due: none

feat: broad improvements
  benchmarks/server.mjs
  esbuild.config.js
  esbuild.config.mjs
  src/index.ts
  src/lib/PetitioRequest.ts
  src/lib/PetitioResponse.ts
  tests/PetitioRequest.test.ts
  tests/PetitioResponse.test.ts
  tests/parseHeaders.test.ts
Due: eslint --fix, jest

ci: update docs build
  docs/docs/pkg/_category_.yml
  docs/docs/pkg/classes/PetitioRequest.PetitioRequest-1.md
  docs/docs/pkg/classes/PetitioResponse.PetitioResponse-1.md
  docs/docs/pkg/classes/_category_.yml
  docs/docs/pkg/classes/petitiorequest.petitiorequest-1.md
  docs/docs/pkg/classes/petitioresponse.petitioresponse-1.md
  docs/docs/pkg/index.md
  docs/docs/pkg/interfaces/PetitioRequest.TimeoutOptions.md
  docs/docs/pkg/interfaces/_category_.yml
  docs/docs/pkg/interfaces/petitiorequest.timeoutoptions.md
  docs/docs/pkg/modules.md
  docs/docs/pkg/modules/Petitio.md
  docs/docs/pkg/modules/PetitioRequest.md
  docs/docs/pkg/modules/PetitioResponse.md
  docs/docs/pkg/modules/_category_.yml
  docs/docs/pkg/modules/petitio.md
  docs/docs/pkg/modules/petitiorequest.md
  docs/docs/pkg/modules/petitioresponse.md
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/_category_.yml
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/classes/PetitioRequest.PetitioRequest-1.md
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/classes/PetitioResponse.PetitioResponse-1.md
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/classes/_category_.yml
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/classes/petitiorequest.petitiorequest-1.md
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/classes/petitioresponse.petitioresponse-1.md
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/index.md
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/interfaces/PetitioRequest.TimeoutOptions.md
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/interfaces/_category_.yml
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/interfaces/petitiorequest.timeoutoptions.md
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/modules.md
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/modules/Petitio.md
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/modules/PetitioRequest.md
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/modules/PetitioResponse.md
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/modules/_category_.yml
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/modules/petitio.md
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/modules/petitiorequest.md
  docs/i18n/en-gb/docusaurus-plugin-content-docs/current/pkg/modules/petitioresponse.md
  package.json
  tsconfig.json
Due: none

further optimization
  package-lock.json
  src/lib/PetitioRequest.ts
  src/lib/PetitioResponse.ts
Due: eslint --fix

chore: finito
  src/index.ts
Due: eslint --fix

chore: export HTTPMethod (#32)
  src/index.ts
Due: eslint --fix

build: v1.3.2
  dist/index.d.ts
  dist/index.js
Due: eslint --fix

chore: release 1.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  a450fbcc1e6e93e61069bfdabce099afd4ea4933
Due: none

build: v1.4.0
  CHANGELOG.md
  package.json
Due: none

chore: upload test
  package-lock.json
  package.json
  petitio-rs/Cargo.lock
  petitio-rs/Cargo.toml
  petitio-rs/build.rs
  petitio-rs/index.js
  petitio-rs/package-lock.json
  petitio-rs/package.json
  petitio-rs/src/lib.rs
  src/index.ts
  tsconfig.json
Due: eslint --fix

chore: cleanup and dependency updates
  esbuild.config.mjs
  package-lock.json
  package.json
  src/index.ts
  src/lib/PetitioRequest.ts
  src/lib/PetitioResponse.ts
  tsconfig.json
Due: eslint --fix

fix: eslint issues
  src/lib/PetitioRequest.ts
Due: eslint --fix

fix: tests
  package-lock.json
  package.json
  tests/PetitioRequest.test.ts
  tests/setup.ts
Due: eslint --fix, jest

fix(tests): actually fix tests
  package-lock.json
Due: none

feat: node 18 testing workflow
  .github/workflows/ci-lint-test.yml
Due: none

fix: uwebsockets not being installed
  package-lock.json
  package.json
Due: none

fix(eslint): import issues
  src/lib/PetitioRequest.ts
Due: eslint --fix

fix: typing nits
  src/lib/PetitioRequest.ts
  src/lib/PetitioResponse.ts
Due: eslint --fix

fix: add back node-abort-controller
  package-lock.json
  package.json
  tests/PetitioRequest.test.ts
Due: eslint --fix, jest
